.timemator{
    align-items: flex-start;
    justify-content: flex-start;
}

.navRight{
    align-items: flex-end;
    justify-content: flex-end;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-link{
    color: #5E768F!important; 
    font-weight: 600!important;  
    margin-bottom: 0%;
}

.nav-link:hover{
    color: white!important; 
    font-weight: 600!important;  
    margin-bottom: 0%;
    text-decoration: underline #5E768F!important;
}

.navbar{
    font-size: 17px;
    padding: 3.5% 7% 3.5% 5%!important;
}

.name{
    font-size: 22px;
    justify-content: center;
    align-items: center;
    font-weight:600;
    padding: 10%;
    color: white;
    margin-bottom: 0%;
}

.button1{
    border-radius: 8px;
    border-color: #0D9EA8;
    border-style: solid;
    padding-left:50%!important;
    padding-right: 50%!important;
    background-color: transparent;
    color: white!important;
}

.navbar-nav > li{
    padding-left:30px; 
}
 