.section3{   
    background-color: #081024;
    background-image: url(https://timemator.com/images/bg-diagonal-edges/bg-hero-bottom.svg);
    background-repeat: no-repeat;
    background-size:100% 20%;
    background-position: center bottom;
}