.section1{
    background-color: rgb(10,25,51);
    background-image: url(https://timemator.com/images/bg-diagonal-edges/bg-hero-bottom.svg);
    background-repeat: no-repeat;
    background-size:100% 20%;
    background-position: center bottom;
    overflow: hidden;
}

.heading{
    color:white;
    font-weight: bold!important;
    text-align: center;
    font-size: 60px!important;
    margin-top: 2%;
}

.bigtext{
    color:white;
    font-weight: bold!important;
    text-align: center; 
    font-size: 60px!important;
}

.highlighted {
    color: #0FF6F6;
}

.inline{
    display: inline-block;
}

.download{
    display: inline-block;
    margin-right: 2%;
}

.footnote {
    display: flex;
    color: rgba(157, 223, 255, 0.3);
    justify-content: center;
    margin-top: 2%;
    font-size: 13px;
} 

.btn1{
    border-radius: 8px;
    border-color: #0D9EA8;
    border-style: solid;
    padding:10px 32px 10px 25px; 
    background-color: transparent;
    color: white;
    font-size: 21px;
    white-space: nowrap;
    font-weight: 700;
}

.btn2{
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    border-color: white;
    padding:10px 30px 10px 25px; 
    background-color: white;
    font-size: 21px;
    font-weight: 700;  
    white-space: nowrap;
}

.btns{
    display: flex;
    margin-top: 6%; 
    justify-content: center;
}

.imgmain{ 
     margin-top: 3%;
}

.imgmain img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

.icon{
    margin-top: -2.5%;  
    margin-left: 4%;
}