.section2{
    background-color: #132645;
    background-image: url(https://timemator.com/images/bg-diagonal-edges/bg-timeline-bottom.svg);
    background-repeat: no-repeat;
    background-size:100% 20%;
    background-position: center bottom;
    overflow: hidden;
}

.top{ 
    margin-top: 8%; 
}

.bold{
    font-weight:700;
    font-size: 36px; 
}

.head >h2{ 
    font-size: 68px;
    font-weight:700;  
    color:white;
}
 
.para{
    display: inline-block; 
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
    color: white;
    margin-top: 14%;
}

.block{
    display: inline-block; 
    margin-left: 0;
}

.col-lg-6{ 
    margin-right: 0%;
}

.sec2img {  
    margin-top: 12%;
    margin-left: -60%;
}

.margintop{
    margin-top: 8%;
}
.head{
    margin-top: 3%;
}

.badge-con {
    position: relative;
}

.badge-con .badge {
    white-space: nowrap;
    display: block;
    position: absolute;
    top: 0;
    left: 5px; 
    font-size: 10px;
    font-weight: 700;
    line-height: 0.9rem;
    border: 1px solid rgba(15, 246, 246, 0.6);
    color: #0FF6F6;
    padding: 0px 3px 0 4px;
    border-radius: 3px;
}
 