.section2{
    background-color: #132645;
    background-image: url(https://timemator.com/images/bg-diagonal-edges/bg-timeline-bottom.svg);
    background-repeat: no-repeat;
    background-size:100% 20%;
    background-position: center bottom;
    overflow: hidden;
}

.top{ 
    margin-top: 8%; 
}

.bold{
    font-weight:700;
    font-size: 36px; 
}

.head >h2{ 
    font-size: 68px;
    font-weight:700;  
    color:white;
}
 
.para{
    display: inline-block; 
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
    color: white;
    margin-top: 14%;
}

.block{
    display: inline-block; 
    margin-left: 0;
}

.col-lg-6{ 
    margin-right: 0%;
}

.sec2img {  
    margin-top: 12%;
    margin-left: -60%;
}

.margintop{
    margin-top: 8%;
}
.head{
    margin-top: 3%;
}
 