.section2{
    background-color: #132645;
    background-image: url(https://timemator.com/images/bg-diagonal-edges/bg-timeline-bottom.svg);
    background-repeat: no-repeat;
    background-size:100% 20%;
    background-position: center bottom;
    overflow: hidden;
}

.row{ 
    margin-top: 10%;
    margin-left:8.33%;
}

.bold{
    font-weight:700;
    font-size: 36px; 
}

.col-lg-11 >h2{ 
    font-size: 68px;
    font-weight:700; 
    padding-right: 15%;
    color:white;
    margin-top: 3%;
}
 
.para{
    display: inline-block;
    width: 52%;
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
    color: white;
    margin-top: 10%;
}

.margintop{
    margin-top: 5%;
}
 